# Data Science Tools and Ecosystem

*In this notebook, Data Science Tools and Ecosystem are summarized.*

**Objectives:**

- List Of Popular LAnguages used in Data Science
- Commonly used libraries in Data science
- Open Source tools used for Data Science
- Example of tic expression in Python

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C

### Some of the commonly used libraries used by Data Scientists include:

- visualization Libraries
- Scientific Computing Libraries
- High Level Machine Learning Libraries

|Data Science Tools|
|------------------|
| Git |
| SQL |
| Apache Atlas |

### Below are a few examples of evaluating arithmetic expressions in Python

a = 5
b = 10
c = a*b
print(c)

*This a simple arithmetic expression to mutiply then add integers*

In [13]:
(3*4)+5

17

*This will convert 200 minutes to hours by diving by 60*

In [15]:
200/60

3.3333333333333335

## Author
Jay Thorat